<section data-ng-if="!authentication.user" class="text-center">
	<h5>You're not signed in!</h5>
	<a href="/#!/signup">Sign up</a> or
	<a href="/#!/signin">Sign in</a>
</section>
<section data-ng-if="authentication.user" class="right">
	<p>{{authentication.user.name}} <a href="/auth/signout">Sign out</a></p>
	
</section>

	<div class="row">
		<div class="large-9 columns" role="content">
			<article>
				<h3>Global Discussion Board</h3>
				<div class="row">
					<div class="large-12 columns">
						<div class="row">
							<ul class="tabs" data-tab>
							    <li class="tab-title active"><a href="#global">Most Votes</a></li>
							    <li class="tab-title"><a href="#local">Latest</a></li>
							</ul>
							<div class="tabs-content">
							    <div class="content active" id="global">
									<div class="large-12 columns post">
										<div class="post-votes">
											<a href="#"><i class="fa fa-arrow-up"></i></a><br>
											670<br>
											<a href="#"><i class="fa fa-arrow-down"></i></a><br>
										</div>
										<div class="post-chapter-logo">
											<img src="https://lh6.googleusercontent.com/-5Lnp5Lj9rVQ/AAAAAAAAAAI/AAAAAAAAAAA/Is-ShbaCZVI/s0-c-k-no-ns/photo.jpg" height="40" width="40"title="{{chapter}}" alt="{{chapter}}">
										</div>
										<div class="post-content">
											<h5>Fundraising Tip 201 <small class="right">Stacy Gray, August 30, 2015, 3:01am</small></h5>
											<p><b>Get foot traffic.</b> Organize your sale around a larger event if you can, like a sports game or a carnival. But don't count on strangers to make your sale a success. Make sure you promote the heck out of it with old-school flyers and more modern social media campaigns. Drawing a crowd of supporters will attract even more people to your sale. <a href="#">Read more...</a></p>

											<a href="#"><i class="fa fa-flag"></i> 0 </a>&nbsp;&nbsp;
											<a href="#"><i class="fa fa-comments"></i> 10 comments</a> &nbsp;&nbsp;&nbsp;&nbsp;
											<small class="right">
												University of California, Berkeley LINK Team &nbsp;&nbsp;|&nbsp;&nbsp;
												Established Since: 2010 &nbsp;&nbsp;|&nbsp;&nbsp;
												Status: Active &nbsp;&nbsp;&nbsp;&nbsp;
											</small>
											
											<hr>
											<div class="comment">
												<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
												<a href="#" class="small-text"><i class="fa fa-flag"></i> 0 </a>
												<h5><small class="right small-text">Helen Hunt, August 31, 2015, 10:15am</small></h5>
											</div>
											<hr>
											<div class="comment">
												<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
												<a href="#" class="small-text"><i class="fa fa-flag"></i> 0 </a>
												<h5><small class="right small-text">James Redford, August 31, 2015, 11:15am</small></h5>
											</div>
										</div>
									</div>
									<div class="large-12 columns post">
										<div class="post-votes">
											<a href="#"><i class="fa fa-arrow-up"></i></a><br>
											203<br>
											<a href="#"><i class="fa fa-arrow-down"></i></a><br>
										</div>
										<div class="post-chapter-logo">
											<img src="https://lh5.googleusercontent.com/-9ZtfI7Iadbo/AAAAAAAAAAI/AAAAAAAAAAA/AFv4WPq_u1M/s0-c-k-no-ns/photo.jpg" height="40" width="40"title="{{chapter}}" alt="{{chapter}}">
										</div>
										<div class="post-content">
											<h5>Fundraising Tip 202 <small class="right">Tom Jones, August 30, 2015, 1:20am</small></h5>
											<p><b>Get foot traffic.</b> Organize your sale around a larger event if you can, like a sports game or a carnival. But don't count on strangers to make your sale a success. Make sure you promote the heck out of it with old-school flyers and more modern social media campaigns. Drawing a crowd of supporters will attract even more people to your sale. <a href="#">Read more...</a></p>

											<a href="#"><i class="fa fa-flag"></i> 0 </a>&nbsp;&nbsp;
											<a href="#"><i class="fa fa-comments"></i> 7 comments</a> &nbsp;&nbsp;&nbsp;&nbsp;
											<small class="right">
												Stanford University, California LINK Team &nbsp;&nbsp;|&nbsp;&nbsp;
												Established Since: 2010 &nbsp;&nbsp;|&nbsp;&nbsp;
												Status: Active &nbsp;&nbsp;&nbsp;&nbsp;
											</small>
											<hr>
										</div>
									</div>
							    </div>
							    <div class="content" id="local">
							    	<div class="large-12 columns post">
										<div class="post-votes">
											<a href="#"><i class="fa fa-arrow-up"></i></a><br>
											670<br>
											<a href="#"><i class="fa fa-arrow-down"></i></a><br>
										</div>
										<div class="post-chapter-logo">
											<img src="https://lh6.googleusercontent.com/-5Lnp5Lj9rVQ/AAAAAAAAAAI/AAAAAAAAAAA/Is-ShbaCZVI/s0-c-k-no-ns/photo.jpg" height="40" width="40"title="{{chapter}}" alt="{{chapter}}">
										</div>
										<div class="post-content">
											<h5>Fundraising Tip 203 <small class="right">Hillary Lee, August 30, 2015, 3:01am</small></h5>
											<p><b>Get foot traffic.</b> Organize your sale around a larger event if you can, like a sports game or a carnival. But don't count on strangers to make your sale a success. Make sure you promote the heck out of it with old-school flyers and more modern social media campaigns. Drawing a crowd of supporters will attract even more people to your sale. <a href="#">Read more...</a></p>

											<small>
												University of California, Berkeley LINK Team &nbsp;&nbsp;|&nbsp;&nbsp;
												Established Since: 2010 &nbsp;&nbsp;|&nbsp;&nbsp;
												Status: Active &nbsp;&nbsp;&nbsp;&nbsp;
											</small>
											<a href="#"><i class="fa fa-flag"></i></a> 0
											<a href="" class="button tiny right">Comment</a>
											<hr>
										</div>
									</div>
									<div class="large-12 columns post">
										<div class="post-votes">
											<a href="#"><i class="fa fa-arrow-up"></i></a><br>
											670<br>
											<a href="#"><i class="fa fa-arrow-down"></i></a><br>
										</div>
										<div class="post-chapter-logo">
											<img src="https://lh5.googleusercontent.com/-9ZtfI7Iadbo/AAAAAAAAAAI/AAAAAAAAAAA/AFv4WPq_u1M/s0-c-k-no-ns/photo.jpg" height="40" width="40"title="{{chapter}}" alt="{{chapter}}">
										</div>
										<div class="post-content">
											<h5>Fundraising Tip 204 <small class="right">Spencer Moore, August 30, 2015, 3:01am</small></h5>
											<p><b>Get foot traffic.</b> Organize your sale around a larger event if you can, like a sports game or a carnival. But don't count on strangers to make your sale a success. Make sure you promote the heck out of it with old-school flyers and more modern social media campaigns. Drawing a crowd of supporters will attract even more people to your sale. <a href="#">Read more...</a></p>

											<small>
												Stanford University, California LINK Team &nbsp;&nbsp;|&nbsp;&nbsp;
												Established Since: 2010 &nbsp;&nbsp;|&nbsp;&nbsp;
												Status: Active &nbsp;&nbsp;&nbsp;&nbsp;
											</small>
											<a href="#"><i class="fa fa-flag"></i></a> 0

											<a href="" class="button tiny right">Comment</a>
											<hr>
										</div>
									</div>
							    </div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	 
	 	<aside class="large-3 columns hide-for-small hide-for-medium">
			<div class="panel">	
				<h5>FAQ</h5>
				<ul>
				<li><a href="#">FAQ 1</a></li>
				<li><a href="#">FAQ 2</a></li>
				<li><a href="#">FAQ 3</a></li>
				</ul>
				<h5>Links</h5>
				<ul>
				<li><a href="#">News 1</a></li>
				<li><a href="#">News 2</a></li>
				<li><a href="#">News 3</a></li>
				</ul>
			</div>
			<div class="panel">
				<h5>Moderators</h5>
				<ul>
					<li>Anna</li>
					<li>Sarah</li>
					<li>Nick</li>
				</ul>
			</div>
		</aside>
	</div>