<!DOCTYPE html>
<html ng-app="mean">

	<style type="text/css">
		#navbar {
			margin-left: 5%;
		}
	</style>
	<head>
    	<title>LINK Discussion Board</title>

    	<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  	</head>
  	<body>

	  	<div id="navbar">
			<h4><a href="/#!/global">Global</a> | <a href="/#!/local">Local</a> | <a href="/#!/chapter_profile/1">Chapter Profile</a> | <a href="/#!/user_profile/1">User Profile</a></h4>
	 	</div>

  		<h1 class="text-center">LINK Discussion Board</h1>
  		<!-- partial views -->
  		<section ng-view=""></section>
		
		<script type="text/javascript">
			window.user = <%- user || 'null' %>;
		</script>

		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>

		<script type="text/javascript" src="application.js"></script>
		<script type="text/javascript" src="controllers/authentication.client.controller.js"></script>
		<script type="text/javascript" src="controllers/index.client.controller.js"></script>
		<script type="text/javascript" src="controllers/user_profile.controller.js"></script>
		<script type="text/javascript" src="controllers/user_profile.factory.js"></script>
		<script type="text/javascript" src="controllers/chapter_profile.controller.js"></script>
		<script type="text/javascript" src="controllers/chapter_profile.factory.js"></script>
		<script type="text/javascript" src="services/authentication.client.service.js"></script>
		<script type="text/javascript" src="config/application.client.routes.js"></script>
  	</body>
</html>