<!DOCTYPE html>
<html ng-app="mean">
	<head>
    	<title>Discourse</title>

		<link rel="stylesheet" href="http://foundation.zurb.com/assets/css/templates/foundation.css">
		<link rel="stylesheet" href="../css/style.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/modernizr.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation/foundation.offcanvas.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  	</head>
  	<body>
		<!--Navigation Begin-->
			<div class="off-canvas-wrap" data-offcanvas>
		  		<div class="inner-wrap">
		  			<nav class="tab-bar show-for-small">
				        <section class="left-small">
				            <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
				        </section>
				    </nav>

				<!-- Off Canvas Menu fir Mobile -->
			    <aside class="left-off-canvas-menu">
			        <ul>
			            <li><a href="#">Global Board</a></li>
			            <li><a href="#">Local Board</a></li>
			            <li><a href="#">My Chapter</a></li>
			            <li><a href="#">My Profile</a></li>
			            <li><a href="#">Admin</a></li>
			            <section data-ng-if="authentication.user">
							<li><a href="/#!/signin">Sign in</a></li>
						</section>
			            <section data-ng-if="authentication.user">
							<li><a href="/auth/signout">Sign out</a></li>
						</section>
			        </ul>
			    </aside>
			   <!-- close the off-canvas menu -->
		  		<a class="exit-off-canvas"></a>
			</div>
		</div>

			<div class="row">
				<div class="large-12 columns">
					<div class="nav-bar right hide-for-small nav-top">
						<ul class="button-group">
							<li><a href="/#!/global" title="Global Board" class="button-nav"><i class="fa fa-globe"></i> Global Board</a></li>
							<li><a href="/#!/local" title="Local Board" class="button-nav"><i class="fa fa-home"></i> Local Board</a></li>
							<li><a href="/#!/chapter_profile/Berkeley" title="My Chapter" class="button-nav"><i class="fa fa-users"></i> My Chapter</a></li>
							<li><a href="/#!/user_profile/1" title="My Profile" class="button-nav"><i class="fa fa-user"></i> My Profile</a></li>
							<li><a href="/#!/admin" title="My Profile" class="button-nav"><i class="fa fa-user-md"></i> Admin</a></li>
							<li><a href="/auth/signout" title="Sign In/Out" class="button-nav"><i class="fa fa-sign-out"></i> Sign Out</a></li>
						</ul>
					</div>

					<h2>&Delta; Discourse</h2>
					<h5><em>extend this across the flow!!!</em></h5>
					<hr>
				</div>
			</div>
		<!--Navigation End-->

  		<!-- partial views -->
  		<section ng-view=""></section>


  	<footer class="row">
		<div class="large-12 columns">
			<hr/>
			<div class="row">
				<div class="large-6 columns">
					<p style="color:white; width:550px; display:inline-block;">&Delta; To join the community contact alexandrag2254@gmail.com</p>
				</div>
				<div class="large-6 columns">
					<p style="float:right; color:white; display:inline-block; vertical-align:top; width:200px;">&copy; Discourse</p>
				</div>
			</div>
		</div>
	</footer>
		
		<script type="text/javascript">
			window.user = <%- user || 'null' %>;
		</script>

		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>

		<script type="text/javascript" src="application.js"></script>
		<script type="text/javascript" src="controllers/authentication.client.controller.js"></script>
		<script type="text/javascript" src="controllers/index.client.controller.js"></script>
		<script type="text/javascript" src="controllers/user_profile.controller.js"></script>
		<script type="text/javascript" src="controllers/user_profile.factory.js"></script>
		<script type="text/javascript" src="controllers/chapter_profile.controller.js"></script>
		<script type="text/javascript" src="controllers/admin.controller.js"></script>
		<script type="text/javascript" src="controllers/admin.factory.js"></script>
		<script type="text/javascript" src="controllers/chapter_profile.factory.js"></script>
		<script type="text/javascript" src="services/authentication.client.service.js"></script>
		<script type="text/javascript" src="config/application.client.routes.js"></script>
		<script type="text/javascript" src="controllers/local.client.controller.js"></script>
		<script type="text/javascript" src="controllers/local.client.factory.js"></script>
		<script>
			document.write('<script src=js/vendor/' + ('__proto__' in {} ? 'zepto' : 'jquery') +'.js><\/script>')
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/jquery.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.js"></script>
		<script>
		    $(document).foundation();
			var doc = document.documentElement;
	        doc.setAttribute('data-useragent', navigator.userAgent);
	    </script>


  	</body>
</html>